body{
  background: url(./emergency.jpg);
 background-repeat: no-repeat;
  background-attachment: fixed;
 background-size:1400px 650px ; 
 }
 .dk{
 color: cyan;
 font-size: 60px;
 text-align: center;
 text-shadow:4px 5px 3px ;                         
 }
 .dkk{
 font-size: 40px;
 color: aliceblue;                         
 }
 .dkk:hover{
background-color: black;
 }
 a{
 color: aliceblue; 
 font-size: 30px;                        
 }                        